{{#if item.body}}
  <div class="content feed-item-view-card" {{action 'toggleBody'}}>

    <div class="columns">

      <div class="column is-narrow is-offset-3 is-hidden-mobile">
        <div class="item-image">
          {{#if item.image}}
            <img src="data:image/jpeg;base64,{{item.image}}">
          {{else}}
            <span class="no-image">?</span>
          {{/if}}
        </div>
      </div>

      <div class="column is-5">
        <div class="item-title">
          {{item.title}}
        </div>

        <div class="item-meta">
          <div class="level">
            <div class="level-left">
              <div class="tags">
                {{#each item.classifications as |category|}}
                  <div class="tag">{{category.name}}</div>
                {{/each}}
              </div>
            </div>

            <div class="level-right">
              {{moment-calendar item.createdAt}}
            </div>

          </div>
        </div>

        <div class="item-description">
          {{item.description}}
        </div>

        {{#if hasBodyDisplayed}}
          <div class="item-body">
            {{{item.body}}}
          </div>
        {{/if}}

      </div>
    </div>

  </div>
{{/if}}