{{#unless hasBeenRead}}
  <div class="content feed-item-view-card">

    <div class="columns">

      <div class="column is-narrow is-hidden-mobile">
        <div class="item-image">
          {{#if item.image}}
            <img src="data:image/jpeg;base64,{{item.image}}">
          {{else}}
            <span class="no-image">?</span>
          {{/if}}
        </div>
      </div>

      <div class="column is-gapless" {{action 'toggleBody'}}>
        <div class="tags">
          {{#if item.classification}}
            {{#each item.classification as |classification|}}
              <div class="tag is-outlined">{{classification.name}}</div>
            {{/each}}
          {{/if}}
        </div>

        <div class="item-title">
          {{item.title}}
        </div>

        <div class="item-description">
          {{item.description}}
        </div>

        <div class="item-meta">
          <span class="item-source">{{item.sourceLink}}</span> {{moment-calendar item.createdAt}}
        </div>

        {{#if hasBodyDisplayed}}
          <div class="item-body">
            {{{item.body}}}
          </div>
        {{/if}}


      </div>

      {{#if  user}}
        <div class="column is-narrow item-actions is-gapless">
          <i class="fas fa-check" {{action "read" item}}></i>
        </div>
      {{/if}}

    </div>
  </div>
{{/unless}}