{{#unless isSeen}}
  <div class="content feed-item-view-card">

    <div class="columns">

      <div class="column is-narrow is-offset-3 is-hidden-mobile">
        <div class="item-image">
          {{#if item.image}}
            <img src="data:image/jpeg;base64,{{item.image}}">
          {{/if}}
        </div>
      </div>

      <div class="column is-5">
        <div class="item-title">
          <a href="{{item.link}}" target="_blank">
            {{item.title}}
          </a>
        </div>

        <div class="item-meta">
          {{moment-calendar item.createdAt}} from <a href="{{item.sourceLink}}">{{item.sourceLink}}</a>
        </div>

        <div class="item-description">
          {{item.description}}
        </div>
      </div>

      <div class="column is-1 is-hidden-mobile">
        <i class="fa fa-fw fa-check" {{action "seen" item}}></i>
      </div>

    </div>


  </div>
{{/unless}}