{{#unless isSeen}}
  <div class="content feed-item-view-card">

    <div class="columns">

      <div class="column is-narrow is-offset-3 is-hidden-mobile">
        <div class="item-image">
          {{#if item.image}}
            <img src="data:image/jpeg;base64,{{item.image}}">
          {{/if}}
        </div>
      </div>

      <div class="column is-5">
        <div class="item-title" {{action 'toggleBody'}}>
          {{item.title}}
        </div>

        <div class="item-meta">
          {{moment-calendar item.createdAt}} source {{item.sourceLink}}
        </div>

        <div class="item-description">
          {{item.description}}
        </div>

        {{#if hasBodyDisplayed}}
          <div class="item-body">
            {{{item.body}}}
          </div>
        {{/if}}

      </div>
    </div>

  </div>
{{/unless}}